html {
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.store {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#hero_image_container{
}

#hero_image_container > picture {
}

#hero_image{
  width: 100%;
  object-fit: cover;
  max-height: 480px;
  /* This controls where the image is resized from; ie focal point */
  object-position: center center;
  /* gets rid of hanging whitespace below image */
  display:block
}


